{% extends "students/base.html" %}
{% block body %}
<div class="container-fluid" style="margin: 10px;">
  <h3>Records</h3>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" data-bs-toggle="tab" href="#studentsTab" aria-selected="true" role="tab">Students</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" href="#teachersTab" aria-selected="false" role="tab"
        tabindex="-1">Teachers</a>
    </li>
  </ul>
  <!-- Student Tab  -->
  <div id="contentTabs" class="tab-content">
    <div class="tab-pane fade active show" id="studentsTab" role="tabpanel">
      {% if students %}
      <div class="card bg-light mb-3" id="students">
        <div class="card-header d-flex justify-content-between">
          <div>
            <h4>Student Lists</h4>
          </div>
          <div class="ml-auto"><a href="{%url 'add_student'%}"><button type="button" class="btn btn-primary">Add
                Students</button></a></div>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">EduID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Major</th>
                <th scope="col">GPA</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for i in students%}
              <tr>
                <td>{{ i.student_id}}</td>
                <td>{{ i.full_name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.major }}</td>
                <td>{{ i.gpa }}</td>
                <td><button type="button" class="btn btn-info me-1" href="{% url 'view_student' i.student_id %}"
                    data-bs-toggle="modal" data-bs-target="#myModal{{i.student_id}}"><i
                      class="fa-sharp fa-solid fa-circle-info"></i></button>
                  <a class="btn btn-warning me-1" href="{% url 'edit_student' i.student_id %}"><i
                      class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{i.student_id}}"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
                <div class="modal fade" id="myModal{{i.student_id}}" tabindex="-1" aria-labelledby="myModalLabel1"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Student Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h3>{{i.full_name}}</h3>
                        <ul class="list-unstyled">
                          <li>EduID: <strong>{{i.student_id}}</strong></li>
                          <li>Email: <strong>{{i.email}}</strong></li>
                          <li>Major: <strong>{{i.major}}</strong></li>
                          <li>GPA: <strong>{{i.gpa}}</strong></li>
                          <li>
                            Current Degree:
                            <strong>
                              {% if i.gpa >= 3.9 %}
                              Summa Cumlaude
                              {% elif i.gpa >= 3.7%}
                              Magna Cumlaude
                              {% elif i.gpa >= 3.5%}
                              Cumlaude
                              {% elif i.gpa >= 3 %}
                              High Merit
                              {% elif i.gpa >= 2 %}
                              Merit
                              {% else %}
                              <p style="color: red;">Ineligible to Graduate</p>
                              {%endif%}
                            </strong>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deleteModal{{i.student_id}}" tabindex="-1" aria-labelledby="myModalLabel2"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title">Delete <strong>{{i.full_name}}</strong>?</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5>Are you sure to delete this? This can't be <strong>restored</strong>!</h5>
                        <div class="modal-footer">
                          <form action="{% url 'delete_student' i.student_id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value='Delete'>
                          </form>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
      <div class="alert alert-dismissible alert-danger" style="width: 35rem;">
        <strong>Oh snap!</strong> There is no student in the record. Considering add a student.
      </div>
      <a href="{%url 'add_student'%}"><button type="button" class="btn btn-primary">Add
          Students</button></a>
    </div>
    {% endif %}
  </div>
  <!-- Teacher Tab -->
  <div class="tab-pane fade" id="teachersTab" role="tabpanel">
    {% if teachers %}
    <div class="card bg-light mb-3" id="teachers">
      <div class="card-header d-flex justify-content-between">
        <div>
          <h4>Teacher Lists</h4>
        </div>
        <div class="ml-auto"><a href="{%url 'add_teacher'%}"><button type="button" class="btn btn-primary">Add
              Teacher</button></a></div>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">EduTeachID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Courses</th>
              <th scope = "col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for i in teachers%}
            <tr>
              <td>{{ i.teacher_id}}</td>
              <td>{{ i.full_name }}</td>
              <td>{{ i.email }}</td>
              <td>{{ i.courses }}</td>
              <td><button type="button" class="btn btn-info me-1" href="{% url 'view_teacher' i.teacher_id %}"
                  data-bs-toggle="modal" data-bs-target="#teacherModal{{i.teacher_id}}"><i
                    class="fa-sharp fa-solid fa-circle-info"></i></button>
                <a class="btn btn-warning me-1" href="{% url 'edit_teacher' i.teacher_id %}"><i
                    class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteTeacherModal{{i.teacher_id}}"><i class="fa-sharp fa-solid fa-trash"></i></button>
              </td>
              <div class="modal fade" id="teacherModal{{i.teacher_id}}" tabindex="-1" aria-labelledby="myModalLabel10"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Teacher Details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>{{i.full_name}}</h3>
                      <ul class="list-unstyled">
                        <li>EduID: <strong>{{i.teacher_id}}</strong></li>
                        <li>Name: <strong>{{i.full_name}}</strong></li>
                        <li>Email: <strong>{{i.email}}</strong></li>
                        <li>Teaching Courses: <strong>{{i.courses}}</strong></li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="deleteTeacherModal{{i.teacher_id}}" tabindex="-1" aria-labelledby="myModalLabel2"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Delete <strong>{{i.full_name}}</strong>?</h3>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h5>Are you sure to delete this? This can't be <strong>restored</strong>!</h5>
                      <div class="modal-footer">
                        <form action="{% url 'delete_teacher' i.teacher_id %}" method="POST">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-primary" value='Delete'>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="alert alert-dismissible alert-danger" style="width: 35rem;">
      <strong>Oh snap!</strong> There is no teachers in the record. Considering add a teacher.
    </div>
    <a href="{%url 'add_teacher'%}"><button type="button" class="btn btn-primary">Add
        Teacher</button></a>
  </div>
  {% endif %}
</div>
{%endblock%}